html{
	background-color: #E0FFFF;
	clear: both;
}

header{
	height: 50px;
	background-color: #90EE90;
	padding-top: 0px;
	margin-top: 0px;
	float: top;
}

header ul li {
	padding-top: 10px;
	float:top;
	list-style: none;
	font-size: 20px;
	text-decoration: none;
}

header ul li a p {
	color: #F08080;
	float: right;
	padding-right: 10px;
	margin-left: 10px;
	font-weight: normal;
} 

header ul li a:hover{
	color: red;
	font-weight: bold;
}
