.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
    background-color: #343a40;
}
 .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
    text-decoration: none;
}

 ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
 .social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    
}

/* .twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
} */


.social-container .col-md-3 {
    border: 2px solid rgba(221, 221, 221, 0.1);
}

.social-container a:link, a:visited {
    color: rgb(190, 185, 185);
}

.social-container a:hover, a:active {
    color: white;
    text-decoration: none;
}

.nav-list li a:before {
    content: "\f10e";
    font: 400 21px/1 "Material Design Icons";
    color: #f5c280;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -29px;
    margin-right: 12px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
} 

.nav-list li a:link, a:visited {
    color: rgb(190, 185, 185);
}

.nav-list li a:hover, a:active {
    color: white;
    text-decoration: none;
}

.social-container{
    display:flex;
}

@media(max-width:768px) {
    .context-dark, .bg-gray-dark, .bg-primary{
        text-align: center;
        /* margin-bottom: 100px; */
    }

    .visib{
        display: none;
    }

    .social-container .social-inner a.twitter{
        background-color: #2bcdf5;
        margin-bottom: 15px;
        width: 100%
    }

    .social-container .social-inner a.facebook{
        background-color: #2e2bf5;
        margin-bottom: 15px;
        width: 100%
    }

    .social-container .social-inner a.youtube{
        background-color: #f61e1e;
        margin-bottom: 15px;
        width: 100%
    }

    .social-container .social-inner a.instagram{
        background-color: #dd2bf5;
        margin-bottom: 15px;
        width: 100%
    }

    .social-container .social-inner a{
        /* height: 45px; */
        border-radius: 23px;
        /* line-height: 45px; */
    }

    .social-container .col-md-3 {
        border:none;
    }
}

@media (min-width: 768px){
    .d-lg-inline-block {
        display: inline-block !important;
    }

    .text-lg-left {
        text-align: left !important;
    }
}