body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*footer{
  padding-top:30px;
  padding-bottom: 15px;
  margin-top:600px;
  color:#ffffff;
  background-color:#2d3246;
  text-align: center;
}*/

.footer {
  clear: both;
  width: 100%;

  height: 80px;
  background-color: #343a40;
  text-align: center;
}

.footer p {
  padding-top: 30px;
  color: white;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px 0;
}
#login-dp .social-buttons a {
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-google {
  color: #fff;
  background-color: red;
}
.btn-google:hover {
  color: #fff;
  background-color: red;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

.mdi-icon {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.japan-guide.com/thumb/XYZeXYZe2172_1680.jpg");
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.homepage-image h1 {
  text-align: center;
  padding-top: 125px;
  font-size: 55px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mgtb {
  margin-top: 50px;
  margin-bottom: 100px;
}

.mgt {
  margin-bottom: 60px;
}

.mgb {
  margin-bottom: 100px;
}

.homepage-image p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 200px;
  font-size: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cancel-booking {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin:auto;
  margin-top:100px;
  margin-bottom:100px;
  width:500px;
  background-color: #ececec;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0.3rem;
}

.white {
  color:white;
}

.gray {
  color:gray;
}

.strongg {
  font-size: 20px;
  font-style: bold;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}

.mySlides {
  display:none;
}
