.GeneralButtonTour{
	clear			: both;
	width			: 100%;
	border			: none;
	border-radius	: 12px; /* make smoth anger */
	background-color: LightPink;
	opacity			: .5;
	text-align		: center;
	display			: inline-block;
	font-size		: 16px;
}

.ButtonMoreTour:hover{
	background-color: FireBrick;
	font-weight		: bold;
	color			: DarkBlue;
}
