extends  layout

block content
    .container(style="margin-top:30px; margin:60px")
        h1 ARE YOU SURE?
        a.btn.btn-primary(href='/profile/booking') NO
        a.btn.btn-danger.delete-booking(href='#', data-id=booking._id) YES