extends layout


block content
    //div.container
        ul.list-group
            li.list-group-item
                 a(href="auth/login") login
            li.list-group-item
                 a(href="auth/logout") logout
        p #{user}
        h1 #{title}//
    section#showcase
        br
        br
        br
        br
        if(user)
            h1 Welcome Back, #{user.username}
        else
            h1 Let's go TO.UR WORLD
        p Find the best deals on every TO.UR WORLD product you need!

    
    
    .container
        ul.nav.nav-pills
            li.nav-item.color-dark1
                a.nav-link.active(href='#' color="white") Active
            li.nav-item.dropdown.color-dark1
                a#tab-4.nav-link.dropdown-toggle(data-toggle='dropdown', href='#') Dropdown
                .dropdown-menu
                    a.dropdown-item(href='#') Link 1
                    a.dropdown-item(href='#') Link 2
                    a.dropdown-item(href='#') Link 3
            li.nav-item.color-dark1
                a#tab-4.nav-link(href='#') Link
            li.nav-item.color-dark1
                a.nav-link.disabled(href='#') Disabled
        section#searchbar

            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
            h1 hahahahah

        
    
