extends layout


block content
    div.container
        ul.list-group
            li.list-group-item
                 a(href="auth/login") login
            li.list-group-item
                 a(href="auth/logout") logout
        p #{user}
        h1 #{title}
