extends layout


block content
    //div.container
        ul.list-group
            li.list-group-item
                 a(href="auth/login") login
            li.list-group-item
                 a(href="auth/logout") logout
        p #{user}
        h1 #{title}//
    .container-fluid
        section#showcase
            br
            br
            br
            br
            if(user)
                h1 Welcome Back, #{user.username}
            else
                h1 Let's go TO.UR WORLD
            p Find the best deals on every TO.UR WORLD product you need!

    
    
    .container
        ul.nav.nav-pills
            li.nav-item.color-dark1
                a.nav-link.active(href='#' color="white") Active
            tr
            li.nav-item.dropdown.color-dark1
                a#tab-4.nav-link.dropdown-toggle(data-toggle='dropdown', href='#') Dropdown
                .dropdown-menu
                    a.dropdown-item(href='#') Link 1
                    a.dropdown-item(href='#') Link 2
                    a.dropdown-item(href='#') Link 3
            li.nav-item.color-dark1
                a#tab-4.nav-link(href='#') Link
            li.nav-item.color-dark1
                a.nav-link.disabled(href='#') Disabled
        section#searchbar

            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
        
        h2 Tabs
        p Click on the buttons inside the tabbed menu:
        .tab
            button.tablinks(onclick="openCity(event, 'London')") London
            button.tablinks(onclick="openCity(event, 'Paris')") Paris
            button.tablinks(onclick="openCity(event, 'Tokyo')") Tokyo
        #London.tabcontent
            h3 London
            p London is the capital city of England.
        #Paris.tabcontent
            h3 Paris
            p Paris is the capital of France.
        #Tokyo.tabcontent
            h3 Tokyo
            p Tokyo is the capital of Japan.
        script.
            function openCity(evt, cityName) {
                var i, tabconten, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }


        
    
