extends layout


block content
    //div.container
        ul.list-group
            li.list-group-item
                 a(href="auth/login") login
            li.list-group-item
                 a(href="auth/logout") logout
        p #{user}
        h1 #{title}//
    .container-fluid(style="margin-bottom:50px")
        section#showcase
            br
            br
            br
            br
            if(user)
                h1 Welcome Back, #{user.username}
            else
                h1 Let's go to your world
            p Find the best place to fulfill your wonderful vacay on TO.UR WORLD!

    
    
    .container
        //ul.nav.nav-pills
            li.nav-item.color-dark1
                a.nav-link.active(href='#' color="white") Active
            tr
            li.nav-item.dropdown.color-dark1
                a#tab-4.nav-link.dropdown-toggle(data-toggle='dropdown', href='#') Dropdown
                .dropdown-menu
                    a.dropdown-item(href='#') Link 1
                    a.dropdown-item(href='#') Link 2
                    a.dropdown-item(href='#') Link 3
            li.nav-item.color-dark1
                a#tab-4.nav-link(href='#') Link
            li.nav-item.color-dark1
                a.nav-link.disabled(href='#') Disabled
        //section#searchbar

            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
            h1 hahahahah
        
        .tab
            button.tablinks(onclick="openMenu(event, 'Browse')" id="defaultOpen") Browse Tour
            button.tablinks(onclick="openMenu(event, 'Suggest')") Suggestion
            button.tablinks(onclick="openMenu(event, 'Promo')") About Us
        #Browse.tabcontent
            h3 Browse Tour
            .bootstrap-iso
                .container-fluid
                    .row
                        .col-md-6.col-sm-6.col-xs-12
                            form.form-horizontal(action='https://formden.com/post/MlKtmY4x/', method='post')
                                .form-group
                                    label.control-label.col-sm-2.requiredField(for='date')
                                        | Date
                                        span.asteriskField
                                            | *
                                    .col-sm-10
                                        .input-group
                                            .input-group-addon
                                                i.fa.fa-calendar
                                            input#date.form-control(name='date', placeholder='MM/DD/YYYY', type='text')
                                .form-group
                                    .col-sm-10.col-sm-offset-2
                                        input(name='_honey', style='display:none', type='text')
                                        button.btn.btn-primary(name='submit', type='submit')
                                            | Submit


            
            #form-group(style="display: inline-block; margin-bottom:20px")
                label(style="width:400px; padding-right: 20px") Destination:
                    select.form-control(name='destination')
                        option(value='Thailand') Thailand
                        option(value='Japan') Japan
                        option(value='Chinese') Chinese
                        option(value='Korea') Korea
                        option(value='Italy') Italy
                        option(value='Brasil') Brasil
                label Duration:
                    select.form-control(name='duration')
                        option(value='1') 1 Night
                        option(value='2') 2 Nights
                        option(value='3') 3 Nights
                        option(value='4') 4 Nights
                        option(value='5') 5 Nights
                        option(value='6') 6 Nights
                        option(value='7') 7 Nights
                        option(value='8') 8 Nights
                        option(value='9') 9 Nights
                        option(value='10') 10 Nights
                        option(value='11') 11 Nights
                        option(value='12') 12 Nights
                        option(value='13') 13 Nights
                        option(value='14') 14 Nights
                        option(value='15') 15 Nights
                br
                label(style="width:200px; padding-right: 20px") Guest:
                input.form-control(name='guest',type='number')
                label(style="width:200px; padding-right: 20px") Room:
                input.form-control(name='room',type='number')
        


        #Suggest.tabcontent
            h3 Suggestion
            p Tell us something
            p Tell us something
            p Tell us something
        #Promo.tabcontent
            h3 Recommend Promotions
            p Promotion 1
            p Promotion 2
            p Promotion 3
        script.
            function openMenu(evt, menuName) {
                var i, tabconten, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(menuName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();


        
    
