doctype html

html
    head
        title #{title}
        link(rel='stylesheet' href='../public/stylesheet/css/style.css')
        link(rel='stylesheet' type="text/css" href='./public/bower_components/bootstrap/dist/css/bootstrap.css')
        meta(name='viewport' content="width=device-width, inital-scale=1")
        
        block header
    
    body
        main
        nav.navbar.navbar-light.bg-light
            a.navbar-brand(href='#') Navbar
            .container
                block content
    footer
        p Copyright &copy; 2018
