doctype html
html
    head
        title TO.UR WORLD!
        link(href="/bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(rel='stylesheet' href='/css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet")
       
        body(style="font-family: 'Kanit', sans-serif;")
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href='/' )
                img(src='https://i.imgur.com/aW1vocb.png' alt='god_logo' style='width:100px; height:50px')
                |   TO.UR WORLD! 
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbars', aria-controls='navbars', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbars.collapse.navbar-collapse
           
                ul.navbar-nav.mr-auto
                    //li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/tour') Tour List
                ul.nav.navbar-nav.navbar-right(style='margin-right:50px')  
                    if(!user)
                        li.dropdown.nav-item.space
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                b Login
                                span.caret
                            ul#login-dp.dropdown-menu
                                li
                                    .row
                                        .col-md-12 
                                            | Login via
                                            .social-buttons
                                                a.btn.btn-google(href="/auth/google")
                                                    i.fa.fa-google
                                                    |  Google 
                                            | or
                                            form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                                                .form-group
                                                    label.sr-only(for='exampleInputEmail2') Email address
                                                    input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                                                .form-group
                                                    label.sr-only(for='exampleInputPassword2') Password
                                                    input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                                                    .help-block.text-right
                                                        a(href='') 
                                                        |  Forget the password ?
                                                .form-group
                                                    button.btn.btn-primary.btn-block(type='submit') 
                                                        |  Sign in
                                                .checkbox
                                                    label
                                                        input(type='checkbox') 
                                                        |  keep me logged-in
                                        .bottom.text-center
                                            | New here ? 
                                            a(href='/user/signup')
                                                b Register

                        li.nav-item.space
                            a(href='/auth/login') Login
                        li.nav-item.space
                            a(href='/user/signup') Register
                    else
                        li.nav-item.space
                            a#tab-2(href='/auth/logout') Logout
                        li.nav-item.space
                            a#tab-3(href='/profile') #{user.username}
                
        
        
        
        .container-fluid
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                center
                    p  Copyright &copy; 2018 TO.UR WORLD
        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="/js/main.js")

