doctype html
html
    head
        title TO.UR WORLD!
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        link(href="/public/bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet")
    body(style="font-family: 'Kanit', sans-serif;")
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href='/') TO.UR WORLD!
                img(src='https://lh6.googleusercontent.com/use39GA8LnmyzpbJ_XaB6hFK1dCu0waY6kI98167GA7KDSvgvL5YFno0ExoeVlh7cZatVv5OoYA6yeILJWxs=w2560-h1442')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbars', aria-controls='navbars', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbars.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/tour') Tour List
                    
                    if(!user)
                        li.nav-item
                            a.nav-link(href='/auth/login') Login
                    else
                        li.nav-item
                            a.nav-link(href='/auth/logout') Logout
                        li.nav-item
                            a.nav-link(href='/profile') #{user.username}
        br

        .container
            //- != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2018
        //- script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")

