doctype html
html
    head
        title TO.UR WORLD!
        link(href="/bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(rel='stylesheet' href='/css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet")
       
        body(style="font-family: 'Kanit', sans-serif;")
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href='/' )
                img(src='https://i.imgur.com/aW1vocb.png' alt='god_logo' style='width:100px; height:50px')
                |   TO.UR WORLD! 
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbars', aria-controls='navbars', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbars.collapse.navbar-collapse
           
                ul.navbar-nav.mr-auto
                    //li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/tour') Tour List
                ul.nav.navbar-nav.navbar-right    
                    if(!user)
                        li.nav-item.block
                            a(href='/auth/login') Login
                        li.nav-item.block
                            a(href='/auth/register') Register
                    else
                        li.nav-item.block
                            a#tab-2(href='/auth/logout') Logout
                        li.nav-item.block
                            a#tab-3(href='/profile') #{user.username}
                
        br
        
        
        .container-fluid
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2018
        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="/js/main.js")

