doctype html
html
    head
        title TO.UR WORLD!
     
        link(href="/bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(rel='stylesheet' href='/css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet")
       
        body(style="font-family: 'Kanit', sans-serif;")
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href='/') TO.UR WORLD!
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbars', aria-controls='navbars', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbars.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/tour') Tour List
                    
                    if(!user)
                        li.nav-item
                            a.nav-link(href='/auth/login') Login
                    else
                        li.nav-item
                            a.nav-link(href='/auth/logout') Logout
                        li.nav-item
                            a.nav-link(href='/profile') #{user.username}
        br

        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2018
        //- script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")

