extends layout

block content
    .container(style="margin-top:30px")
        h1 Login
        form(method="POST", action="/auth/login")
            #form-group
                label Email:
                input.form-control(name="email",placeholder="Email address",type='email')
            #form-group
                label Password:
                input.form-control(name="password",placeholder="Password",type='password')
            br
            input.btn.btn-primary.form-control(type='submit',value='Submit')
        br 
        a(href="/auth/google")
            button(class="btn btn-primary" type="button") Login with Google
        a(href="/user/signup")
            button.btn.btn-primary(type='button') Register