extends layout

block content
    .container(style="margin-top:30px; margin:50px")
        .row
            .col-lg-4.card(style="border-left:5px dashed coral;border-bottom:5px dashed coral;border-top:5px dashed coral;")
                img.rounded-circle.mx-auto(src=user.photo+'0' style='width:250px; height:250px;margin-top:15px;margin-bottom:15px;border:5px dashed coral' alt='profile photo')

                ul.nav.nav-pills.flex-column
                    li.nav-item
                        a.nav-link(href='/profile') Profile
                    li.nav-item
                        a.nav-link(href='#' style='cursor:not-allowed') My Cards
                    li.nav-item
                        a.nav-link(href='#' style='cursor:not-allowed') Purchase List
                    li.nav-item.active-page
                        a.nav-link(href='#') My Booking
                    br
                    hr.d-sm-none
            .col-lg-8.card(style="border:5px dashed coral")
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Tour Name
                            th(scope='col') Tour ID
                            th(scope='col')
                    tbody
                        each booking, i in bookings
                            tr
                                th(scope='row') #{i+1}
                                td #{booking.tourTitle}
                                td #{booking.tourId}
                                td
                                    a.btn.btn-danger(href='/profile/mybooking/'+booking._id) Cancel
                        
