extends layout

block content
    h1= tour.title
    h5 organized by #{tour.organizer}
    if tour.now_seat
        h5 #{tour.now_seat} seat(s) remaining!
        form(method="POST", action="/tour/"+tour._id)
            input.btn.btn-primary(type="submit", value="จองงงงงงงงงงงงงงงงงงงงง")
    else
        h5 out of order sorry!
    br