extends layout

block content
    .container(style="margin-top:30px; margin:50px")
        h1 PROFILE
        .row
            .col-lg-4
                img.rounded-circle(src=user.photo+'0' style='width:250px; height:250px' alt='profile photo')

                ul.nav.nav-pills.flex-column
                    li.nav-item.active-page
                        a.nav-link(href='#') Edit Profile
                    li.nav-item
                        a.nav-link(href='#') My Cards
                    li.nav-item
                        a.nav-link(href='#') Purchase List
                    li.nav-item
                        a.nav-link(href='/profile/mybooking') My Booking
                    hr.d-sm-none
            .col-lg-8
                h4 #{user.username}
                h4 email
                h4 phone number
                p yohohohohohoohoohhhoohoohohohohohohohohohohohohohola;dfj;lasdfjals;dfj;lajdfal;sdjf;las
                

    p #{user}
    
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
        tbody
            tr
                th(scope='row') 1