extends layout

block content
    h1 #{title}
    .container(style='margin-left:10px')
        .row
            each tour, i in tours
                .col-lg-4
                    .card(style='width:400px')
                        img.card-img-top.fakeimg
                        .card-body
                            h4 #{tour.title}
                            p organized by #{tour.organizer}
                            a.btn.btn-primary(href="/tour/"+tour._id) See more
                    <br>
    
        
