nav{
	clear: both;
	margin-top: 20px;
	height: 300px;
/*	outline-color: black;
	outline-style: solid;
	outline-width: 2px;*/
}

nav p{
	float : left;
	width: 46%;
	margin-right: 2%;
	margin-left: 2%;
} 
