section{
	clear: both;
	outline-color: red;
	outline-style: dashed;
	outline-width: 2px;
	margin-top: 20px;
	height: 400px;
}

section .register_picture{
	float: left;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 70%;
	outline-color: black;
	outline-style: solid;
	outline-width: 1px;
}

section .register_picture .picture_center{
	display: block;
	width: 200px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
} 

section .button_picture{
	width: 100%;
}
