.color-red{
    background-color:red;
}

.block{
    /*background-color:dimgrey;*/
    padding: 10px 20px;
}
a:link{
    color:grey;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #00FF7F;
    background-color: transparent;
    text-decoration: none;
}

a#tab-2:hover {
    color:red;
}

a#tab-3:hover {
    color:lightgray;
}

a:active {
    color: slategrey;
    background-color: green;
    text-decoration: none;
}

a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.active-page{
    background-color:rgb(224, 221, 20);
}
