.testBlockR{
	border : 0.5px solid red;
}

.testBlockB{
	border : 0.5px solid blue;
}

.testBlockD{
	border : 2px solid Black;
}

.labelHead00{
	min-width : 200px;
	width	: auto;
}

.labelHead01{
	width	: 100%;
}

.textCenter{
	text-align : center
}

.textLeft{
	text-align : left
}

.textRight{
	text-align : left
}

.minWidth100{
	min-width	: 100%;
	clear	: both;
}

.minWidth25{
	min-width : 25%
}

.width10{
	width : 10%;
}

.width25{
	width : 25%;
}

.sameLine{
	display : inline-block;
	margin-right : 2px;
	margin-left : 2px;
}

textarea{
	overflow:hidden;
	margin-right:30px auto;
	margin-left:30px auto;
	width : 100%;
	border-radius: 10px;
	display:block;	
}
