.box-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#boxes {
  /* margin-top:20px; */
  margin-bottom: 20px;
}

#boxes .box {
  /* float: left; */
  text-align: center;
  /* width: 25%; */
  margin-bottom: 50px;
  /* padding:10px; */
}

.brownbut {
  cursor: pointer;
  clear: both;
  width: 300px;
  border: none;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #421609;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  color: white;
  margin-bottom: 50px;
}

.brownbut:hover {
  background-color: #742913;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.pp {
  line-height: 10px;
}

@media (max-width: 750px) {
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
}
